<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DumbThing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F6982711F3A3CCE007646CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F6982851F3A3CCE007646CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F6982901F3A3CCE007646CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
